{
  "extends": "stylelint-config-suitcss",
  "rules": {
    "at-rule-empty-line-before": 0,
    "comment-empty-line-before": 0,
    "function-url-quotes": [ 2, "single" ],
    "number-leading-zero": 0,
    "rule-non-nested-empty-line-before": 0,
    "rule-properties-order": 0,
    "string-quotes": [ 2, "single" ]
  }
}
