{
  "extends": "stylelint-config-suitcss",
  "rules": {
    "function-url-quotes": "single",
    "max-line-length": 120,
    "rule-non-nested-empty-line-before": "always",
    "rule-properties-order": 0,
    "string-quotes": "single"
  }
}
