<article class="Block Article">
  <header class="Heading Block-spacing Trailer Leader">
    <h1>Error {{ page.header.http_response_code }}</h1>
  </header>

  <main class="Block-spacing Block-content Trailer Leader">
    {{ page.content }}
  </main>
</article>
