<article class="block-content article">
    <header class="page-header">
        <h1>Error {{ page.header.http_response_code }}</h1>
    </header>

    <main class="article-main">
        <p>
            {{ page.content }}
        </p>
    </main>
</article>
