<header class="header">
	<div class="logo">
		<a href="{{ base_url }}" alt="">Solo front</a>
		<!-- <a class="icon-share share-menu" alt="share" href="#"></a> -->
	</div>

	<input id="Nav-burger" type="checkbox"></input>
	<label for="Nav-burger" class="Nav-burger" alt="Open Menu">
		<div class="top-bun"></div>
		<div class="meat"></div>
		<div class="bottom-bun"></div>
	</label>

	<nav class="Nav" role="navigation">
		{% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
	</nav>
	{% include 'partials/search_input.html.twig' %}

	<div class="footer">
		{% include 'partials/nav.html.twig' %}
	</div>
</header>
