<ul>
	{% for page in pages.children %}
	{% if page.visible %}
	{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
	<li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
<p>Copyright &#169; 2015-2016 by <a href="https://twitter.com/nerijusgood">Nerijus Gudas</a></p>
