<div class="Block Article">
  <header class="Heading Leader Trailer">
    <div class="Block-spacing Block-content">
      <h1>Search: {{ query }}</h1>
    </div>
  </header>

  <main class="Block-spacing Block-content Trailer Leader">
    <div class="center">
      {% include 'partials/search_input.html.twig' %}
    </div>

    <p>Found {{ search_results.count }} {{ 'result'|pluralize(search_results.count) }}</p>
    {% for page in search_results %}
      {% include 'partials/search_item.html.twig' with {'page':page} %}
    {% endfor %}
  </main>
</div>
