<fieldset class="form-group form-search">
	<label for="search">Search</label>
	<input class="form-search-input" name="search" type="search" value="{{ query }}" data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route}}/query" />
	<button class="btn btn--alternative btn--icon icon-search form-search-submit"></button>
</fieldset>
