.article {
	.article-header {
		position: relative;

		img {
			width: 100%;
			display: block;
		}

		.article-header-content {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: color($colorPrimary a(60%));
			transition: 0.2s opacity ease-in;
			padding: 0 5%;

			@media (--viewport-medium) {
				padding: 0 10%;
			}

			h1 {
				top: calc(50% - 20px);
				width: 100%;
			}
		}

		h1 {
			text-align: center;
			margin: 0;
			padding: 0;
			line-height: 1;

			a {
				font-size: 2.5rem;
				font-family: $fontReg;
				font-weight: 800;
				color: $colorWhite;
			}
		}

		.header-date {
			margin: 15px 0 10px;

			span {
				font-family: $fontReg;
				font-size: 16px;
				color: $colorWhite;
			}
		}
	}
}
