/* Buttons
-------------------------------------------------------------------------------- */
.Button {
  line-height: 38px;
  font-size: 0.925rem;
  padding: 0 14px;
  margin: 0 4px;
  border: none;
  font-family: $fontReg;
  color: $colorWhite;
  background-color: $colorPrimary;
  transition: background-color 0.1s ease-in;
  border-radius: 3px;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: color($colorPrimary lightness(50%));
    transition: background-color 0.1s ease-in;
  }
}

.Button--primary {
  background-color: $colorPrimary;
  color: $colorWhite;

  &:hover {
    background-color: color($colorPrimary a(80%));
  }
}

.Button--secondary {
  background-color: $colorSecondary;
  color: $colorWhite;

  &:hover {
    background-color: color($colorSecondary a(80%));
  }
}

.Button--alternative {
  background-color: $colorGrayLight;
  color: $colorWhite;

  &:hover {
    background-color: color($colorSecondary a(80%));
  }
}

.Button--outline {
  background-color: transparent;
  color: $colorPrimary;
  border: 2px solid $colorPrimary;

  &:hover {
    background-color: $colorPrimary;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
    color: $colorWhite;
  }
}

.Button--icon::before {
  padding-right: 5px;
  vertical-align: middle;
  line-height: 38px;
}

.Button-group {
  display: flex;
}
