/* Card
-------------------------------------------------------------------------------- */
.Card {
  background-color: $colorHeaderBg;
  border-radius: 3px;
  overflow: hidden;
  /*border-top: 5px solid $colorPrimary;*/
}

.Card--overview {
  width: 320px;

  @media (--viewport-small) {
    width: 420px;
  }

  @media (--viewport-landscapeMin) {
    width: 268px;
  }

  @media (--viewport-landscapeMax) {
    width: 310px;
  }

  @media (--viewport-medium) {
    width: 350px;
  }

  @media (--viewport-large) {
    width: 325.5px;
  }

  @media (--viewport-huge) {
    width: 285px;
  }

  @media (--viewport-monitor) {
    width: 312px;
  }
}

/* Card-image
-------------------------------------------------------------------------------- */
.Card-image {
  background-size: cover;
  background-position: top center;
  height: 180px;
  width: 100%;
  display: block;
  line-height: 0;

  img {
    width: 100%;
  }
}

/* Card layout
-------------------------------------------------------------------------------- */
.Card-header {
  padding-bottom: 0;
}

.Card-footer {
  padding: 22px 26px 22px;
  margin: 16px 0 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Card-content {
  padding: 22px 26px 0;
}

/* Card misc
-------------------------------------------------------------------------------- */
.Card-title {
  margin: 0;
  line-height: 1;
  outline: none;
	text-decoration: none;
	position: relative;
  display: inline-block;
  overflow: hidden;
}

.Card-title a {
  font-size: 24px;
  font-family: $fontBlack;
  text-transform: uppercase;
  color: $colorGray;
}

.Card-date,
.Card-time {
  font-size: 12px;
  text-transform: uppercase;
  color: $colorGray;
}
