.comments {
    border-top: 5px solid $colorGrayLightest;

	h3 {
		margin-top: 0;
	}

    .comments-container {
        @extend .container-spacing;

        @media (--viewport-large) {
            max-width: 960px;
        }

        .form-field {
            position: relative;

            .form-label {
                display: none;
            }

            .form-input-wrapper {
                width: 70%;
            }
        }
    }
}
