.Tag-group {
  list-style: none;
  display: flex;
  margin: 0 0 20px;
  padding: 0;

	li:first-child a {
		padding-left: 0;
	}
}

.Tag {
	font-size: 14px;
	text-transform: uppercase;
	font-family: $fontReg;
	padding: 6px 10px;
}
