h2,
h3,
h4,
h5 {
    font-family: $fontHead;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 0 1.525rem;
}

h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin: 0 0 1.4rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 1.4rem;
}

h4 {
    font-size: 18px;
    line-height: 1.125rem;
    margin: 0 0 1.25rem;
}

/* Won't be used here */

h5 {
    font-size: 1.875rem;
    line-height: 1.25rem;
}

h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.Title-styled {
  text-shadow: 2px 4px 0 rgba(89, 176, 186, 0.1);
  color: $colorGray;
}
