.header {
	width: 100%;
	position: relative;
	height: 100%;
	background-color: $colorHeaderBg;
	padding: 40px 40px;
    display: flex;
    flex-direction: column;

	@media (--viewport-medium) {
		width: 250px;
		position: fixed;
	}
	@media (--viewport-large) {
		width: 290px;
	}

	@media (--viewport-mega) {
		width: 320px;
		padding: 40px 50px;
	}
}

.logo {
	a {
		font-family: $fontBlack;
		color: $colorPrimary;
		font-size: 60px;
		line-height: 0.8;
		text-transform: uppercase;
	}
}
