.header {
	@extend .container-spacing;
	@extend .flex-row;
  box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	height: 80px;
	background-color: $colorHeaderBg;

	@media (--viewport-large) {
		flex-direction: column;
		align-items: stretch;
		width: 290px;
		position: fixed;
		height: 100vh;
		padding: 24px;
	}

	@media (--viewport-mega) {
		width: 320px;
		padding: 40px 50px;
	}

	&.active {
		position: absolute;
		height: 100vh;
		min-height: 100vh;
		z-index: $ztop;
		transition: height 0.3s ease-in;

		.nav,
		.form-search,
		.footer {
			display: block;
		}
	}
}

.logo {
	@extend .flex-row;
	justify-content: space-between;
	align-items: center;
	/*z-index: $ztop;*/

	a {
		font-family: $fontBlack;
		color: $colorPrimary;
		font-size: 1.75rem;
		line-height: 80px;
		text-transform: uppercase;

		@media (--viewport-large) {
			font-size: 3.75rem;
			line-height: 0.8;
		}
	}

	.share-menu {
		@media (--viewport-large) {
			display: none;
		}
	}
}
