.main {
	padding-left: 0;
	width: 100%;
    min-height: 100vh;
	background-color: $colorBg;

	@media (--viewport-medium) {
		padding-left: 250px;
	}

	@media (--viewport-large) {
		padding-left: 290px;
	}

	@media (--viewport-mega) {
		padding-left: 320px;
	}
}
