.main {
  box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-left: 0;
	background-color: $colorBg;
	/* Margin collapse fix */
	padding-bottom: 1px;
	margin-bottom: -1px;

	@media (--viewport-large) {
		padding-left: 290px;
	}

	@media (--viewport-mega) {
		padding-left: 320px;
	}
}
