{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container content-block searchresults">

        {% include 'partials/search_results.html.twig' %}

    </div>
{% endblock %}
